<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Unity WebGL Game </title>
    <link rel="stylesheet" href="../unity-webgl-iframe-minimal.css">
    <link rel="stylesheet" href="_example-iframe.css">
    <script type="module" src="../unity-webgl-iframe-connector-minimal.js"></script>
    <script type="module" src="_example_iframe.js"></script>
</head>
<body>
    <div id="unity-container" class="unity-desktop">
        <canvas id="unity-canvas">
            <script type="module">

            </script>
        </canvas>
        <div id="unity-loading-bar">
            <div id="unity-logo"></div>
            <div id="unity-progress-bar-empty">
                <div id="unity-progress-bar-full"></div>
            </div>
        </div>

        <div id="unity-warning"></div>

        <div id="unity-fullscreen-button"> </div>
    </div>
</body>
</html>