/* region CSS-RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    font-family: var(--FF-Main);
}

img, picture, video, canvas, svg {
    display: block;
}

font, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
    hyphens: auto;
    font-size: 1rem;
    color: var(--COLOR-TEXT-MAIN);
    text-align: justify;
}
/* endregion CSS-RESET */