/* overwrites of general styles specifically for the index.html page */
.project-section__behind-the-scenes {
    display: none;
}

.project-header-section__link {
    display: block;
}

.main__highlight_projects {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;

    gap: var(--LAYOUT-SPACING-DEFAULT);
}

.main__highlight-projects-separator {
    width: auto;
    align-self: stretch;
    margin: 5vh 20vw;
    height: 20px;
    color: var(--COLOR-SEPARATOR);

    background:
            linear-gradient(to bottom,
            transparent 0, var(--COLOR-SEPARATOR) 40%,
            var(--COLOR-SEPARATOR) 40%, var(--COLOR-SEPARATOR) 60%,
            var(--COLOR-SEPARATOR) 60%, transparent 100%
            );
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}
