/* region GLOBAL VARIABLES */
:root {
    /* region MAIN COLORS */
    --COLOR-DARK: hsl(270, 20%, 10%);
    --COLOR-LIGHT: hsl(90, 0%, 90%);

    --COLOR-ACCENT-DARK: hsl(263, 33%, 26%);
    --COLOR-ACCENT-LIGHT: hsl(18, 87%, 30%);
    /* endregion MAIN COLORS */

    /* region ALL COLORS */
    --COLOR-BG-WEBSITE: var(--COLOR-DARK);
    --COLOR-BG-BLOCK: var(--COLOR-DARK);
    --COLOR-BG-ELEMENT: var(--COLOR-DARK);

    --COLOR-DECORATION-BLOCK: var(--COLOR-ACCENT-DARK);
    --COLOR-DECORATION-ELEMENT: var(--COLOR-ACCENT-LIGHT);

    --COLOR-TEXT-MAIN: var(--COLOR-LIGHT);
    --COLOR-TEXT-ACCENT: var(--COLOR-ACCENT-LIGHT);
    /* endregion ALL COLORS */

    /* region FONTS */
    --FF-MAIN: sans-serif;
    --FF-SECONDARY: serif;

    --FONT-SIZE-DEFAULT: 1rem;
    --FONT-SIZE-XS: 0.4rem;
    --FONT-SIZE-SMALL: 0.8rem;
    --FONT-SIZE-EMPHASIZED: 1.2em;
    --FONT-SIZE-TITLE: 2.5rem;

    --ELEMENT-LINE-HEIGHT: 1.8em; /* 1.8em = 1 line-height */
    /* endregion FONTS */

    /* region LAYOUT */
    --LAYOUT-DISTANCE-DEFAULT: 12px;
    --LAYOUT-DISTANCE-XS: 2px;
    --LAYOUT-DISTANCE-SMALL: 8px;
    --LAYOUT-DISTANCE-LARGE: 32px;
    --LAYOUT-DISTANCE-XL: 96px;

    --LAYOUT-GAP-DEFAULT: var(--LAYOUT-DISTANCE-DEFAULT);

    --LAYOUT-BORDER-RADIUS-CYLINDER: 999px;
    --LAYOUT-BORDER-RADIUS-ELLIPSE: 50%;
    /* endregion LAYOUT */
}
/* region GLOBAL VARIABLES */

/* region DEV-VISUALISATION */
* {
    /*outline: 3px dashed rgba(255, 0, 0, 0.5);*/
    /*background-color: rgba(148, 112, 219, 0.3);*/
}

img:not([class]) {
    outline: 2px solid rgba(0, 255, 0, 0.5);
    background-color: rgba(148, 112, 219, 0.3);
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
}
/* endregion DEV-VISUALISATION */

/* region GLOBAL OBJECTS */
/* region LINK-ARROW */
.u--drop-shadow--dark {
    display: inline-block;
    filter: drop-shadow(3px 3px 3px var(--COLOR-ACCENT-DARK));
}

.o--link-arrow {
    display: inline-flex;

    background-color: var(--COLOR-ACCENT-LIGHT);
    padding: var(--LAYOUT-DISTANCE-DEFAULT) var(--LAYOUT-DISTANCE-LARGE);
    width: 200px; /* 0ZyKa used to ensure that the link-boxes don't vary too much in size; should probably extract into a modifier */
    clip-path: url(#rounded-arrow);

    justify-content: center;
    align-items: center;
}
/* endregion LINK-ARROW */

/* region TAG */
.o--tag {
    display: block;
    background-color: var(--COLOR-DECORATION-ELEMENT);
    padding: var(--LAYOUT-DISTANCE-DEFAULT) var(--LAYOUT-DISTANCE-LARGE);
    border-radius: var(--LAYOUT-BORDER-RADIUS-CYLINDER);

    height: max-content;
}

.o--tag--emphasize {
    font-size: var(--FONT-SIZE-EMPHASIZED);
}

.o--tag > img {
    display: block;
    object-fit: contain;
}
/* endregion TAG */

/* region ICON */
.o--icon {
    display: block;
}
.o--media-icon {
    font-size: var(--FONT-SIZE-DEFAULT);
    height: 1.8em;
    flex-shrink: 0;
    flex-grow: 0;
}

.o--media-icon--font-emphasized {
    font-size: var(--FONT-SIZE-EMPHASIZED);
}
/* endregion ICON */

/* region MEDIA-GALLERY */
.o--media-gallery {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
    gap: var(--LAYOUT-DISTANCE-DEFAULT);

    position: relative;
    height: 100%;
    width: 100%;
    padding: var(--LAYOUT-DISTANCE-DEFAULT);
}

.c--media-gallery__item {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
}

.c--media-gallery__item * {
    object-fit: contain;
}

.c--media-gallery__item--inactive {
    display: none;
}
/* endregion MEDIA-GALLERY */

/* endregion GLOBAL OBJECTS */

/* region BLOCKS */
/* -ZyKa ScrollSnap doesn't feel right */
/*html {*/
/*    scroll-snap-type: y proximity;*/
/*    scroll-behavior: smooth;*/
/*}*/

main {
    display: flex;
    flex-flow: column nowrap;

    background-color: var(--COLOR-BG-WEBSITE);

    padding: var(--LAYOUT-DISTANCE-XL) var(--LAYOUT-DISTANCE-XL);
    gap: var(--LAYOUT-DISTANCE-XL);

    /* -ZyKa ScrollSnap doesn't feel right */
    /*scroll-snap-align: start;*/
}

/* region DEFAULT-PANEL */
.o--default-panel {
    width: 100%;
    min-height: 200px; /* +ZyKa min-height for panels so that I can see them */

    display: flex;
    flex-flow: row wrap;

    gap: var(--LAYOUT-DISTANCE-LARGE);

    /*border-bottom: 2px solid var(--COLOR-DECORATION-BLOCK);*/
    padding: var(--LAYOUT-DISTANCE-LARGE) var(--LAYOUT-DISTANCE-LARGE);
}

.c--default-panel__media {
    flex: 1 0 auto;
    min-width: 55%;
    width: 70vh; /* +ZyKa figure out how to define the width properly here */
    aspect-ratio: 16/9;
}

.c--default-panel__info-container {
    flex: 1 1 auto;

    max-width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    gap: var(--LAYOUT-DISTANCE-LARGE);
    padding: var(--LAYOUT-DISTANCE-LARGE) var(--LAYOUT-DISTANCE-XL);
}

.c--default-panel__header {
    padding: var(--LAYOUT-DISTANCE-DEFAULT);
    font-size: var(--FONT-SIZE-TITLE);
    text-align: center;
}

.c--default-panel__links {
    margin-top: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: var(--LAYOUT-DISTANCE-DEFAULT);
}

.c--default-panel__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--LAYOUT-DISTANCE-DEFAULT);
}
/* endregion DEFAULT-PANEL */

/* region MAIN-SEPARATOR */
.c--main__separator {
    height: 25px;
    background: linear-gradient(to bottom,
        transparent 0, var(--COLOR-ACCENT-DARK) 40%,
        var(--COLOR-ACCENT-DARK) 40%, var(--COLOR-ACCENT-DARK) 60%,
        var(--COLOR-ACCENT-DARK) 60%, transparent 100%
        );
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);

    /* -ZyKa ScrollSnap doesn't feel right */
    /*scroll-snap-align: start;*/
}
/* endregion MAIN-SEPARATOR */

/* region ABOUT ME */
.c--about-me__my-name {
    text-align: left;
}

.c--about-me__tags {
    justify-content: flex-start;
}
/* endregion ABOUT ME */

/* region WORKFLOW */
/* +ZyKa should this really be a grid? */
.o--workflow{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "header header"
        "main-tools media"
        "secondary-tools media"
        ;
    gap: var(--LAYOUT-GAP-DEFAULT);
}

.c--workflow__header{
    grid-area: header;
}

.c--workflow__main-tools {
    grid-area: main-tools;

    container: c--workflow__main-tools / inline-size;
}

.c--workflow__secondary-tools {
    grid-area: secondary-tools;
}

.c--workflow__media {
    grid-area: media;
}

.c--workflow__tools-header {

}

.c--workflow__tools-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

/* Query the PARENT container (c--workflow__main-tools), not the child */
@container c--workflow__main-tools (max-width: 350px) {
    .c--workflow__tools-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-items: center;
        gap: var(--LAYOUT-GAP-DEFAULT);
    }
}

@container c--workflow__main-tools (min-width: 350px) and (max-width: 650px) {
    .c--workflow__tools-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-items: center;
        gap: var(--LAYOUT-GAP-DEFAULT);
    }
}
/* endregion WORKFLOW */

/* region PROJECT GALLERY */
.o--project-gallery {
    display: grid;
    grid-template-areas:
    "header header header header"
    "first first second second"
    "first first second second"
    "third fourth fifth sixth"
    ;
    gap: var(--LAYOUT-GAP-DEFAULT);
}

.o--project-gallery__project-item {

}

.c--project-gallery__header {
    grid-area: header;
}

.c--project-gallery_project-item--first {
    grid-area: first;
}

.c--project-gallery_project-item--second {
    grid-area: second;
}

.c--project-gallery_project-item--third {
    grid-area: third;
}

.c--project-gallery_project-item--fourth {
    grid-area: fourth;
}

.c--project-gallery_project-item--fifth {
    grid-area: fifth;
}

.c--project-gallery_project-item--sixth {
    grid-area: sixth;
}

.c--project-item__media {

}

.c--project-item__description {
    display: grid;
    grid-template-areas:
        "type . role"
        "dev-context group-size time"
    ;
}

.c--project-item__type {
    grid-area: type;
}

.c--project-item__role {
    grid-area: role;
}

.c--project-item__dev-context {
    grid-area: dev-context;
}

.c--project-item__group-size {
    grid-area: group-size;
}

.c--project-item__time {
    grid-area: time;
}
/* endregion PROJECT GALLERY */


/* region CONTACT */
.o--contact{

}
/* endregion CONTACT */

/* endregion BLOCKS */


/* region EXPERTISE */
/* DEPRECATED
.o--expertise{
    display: flex;
    flex-direction: column;
}

.c--expertise__domains {
    display: flex;
    flex-flow: row wrap;

    justify-content: stretch;
    gap: var(--LAYOUT-GAP-DEFAULT);
}

.o--expertise-domain {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    gap: var(--LAYOUT-GAP-DEFAULT);
}

.c--expertise-domain__header {
    align-self: center;
}

.o--skill-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "icon header"
        "icon description";

    place-content: center;
}

.c--skill-item__icon {
    grid-area: icon;
    aspect-ratio: 1;
}

.c--skill-item__header {
    grid-area: header;
    padding: 3%;
}

.c--skill-item__description {
    grid-area: description;
    padding: 3%;
}

.o--skill-collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.c--skill-collection__icon {

}
DEPRECATED END */
/* endregion EXPERTISE */


/* region PROJECT GALLERY */
/* DEPRECATED
.o--project-gallery {

}

.c--project-gallery__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.o--project-card {

}

.c--project-card__title {

}

.c--project-card__subtitle {

}

.c--project-card__description {

}

.c--project-card__media {

}

.c--project-card__media img {

}

.c--project-card__media video {

}

.c--project-card__tools {

}

.c--project-card__tag-container {

}

.c--project-card__links-container {

}

.c--project-card__link {

}

.c--project-card__link-image {

}
END DEPRECATED */
/* endregion PROJECT GALLERY */
