/* region GLOBAL VARIABLES */
:root {
    /* region MAIN COLORS */
    --COLOR-DARK: hsl(270, 20%, 10%);
    --COLOR-LIGHT: hsl(90, 0%, 90%);

    --COLOR-ACCENT-DARK: hsl(263, 76%, 26%);
    --COLOR-ACCENT-LIGHT: hsl(18, 68%, 33%);
    /* endregion MAIN COLORS */

    /* region ALL COLORS */
    --COLOR-BG-WEBSITE: var(--COLOR-DARK);
    --COLOR-BG-BLOCK: var(--COLOR-DARK);
    --COLOR-BG-ELEMENT: var(--COLOR-DARK);

    --COLOR-DECORATION-BLOCK: var(--COLOR-ACCENT-DARK);
    --COLOR-DECORATION-ELEMENT: var(--COLOR-ACCENT-LIGHT);

    --COLOR-TEXT-MAIN: var(--COLOR-LIGHT);
    --COLOR-TEXT-ACCENT: var(--COLOR-ACCENT-LIGHT);
    /* endregion ALL COLORS */

    /* region FONTS */
    --FF-MAIN: sans-serif;
    --FF-SECONDARY: serif;
    /* endregion FONTS */
}
/* region GLOBAL VARIABLES */

/* region CSS-RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    font-family: var(--FF-Main);
}

img, picture, video, canvas, svg {
    display: block;
}

font, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
    hyphens: auto;
    color: var(--COLOR-TEXT-MAIN);
}
/* endregion CSS-RESET */

/* region DEV-VISUALISATION */
* {
    outline: 3px dashed rgba(255, 0, 0, 0.5);
    background-color: rgba(148, 112, 219, 0.3);
}

img {
    outline: 2px solid rgba(0, 255, 0, 0.5);
    background-color: rgba(148, 112, 219, 0.3);
}
/* endregion DEV-VISUALISATION */

/* region GLOBAL OBJECTS */
.o--panel {
    width: 100%;
    min-height: 200px; /* +ZyKa min-height for panels so that I can see them */

    padding: 3vw;

    background-color: var(--COLOR-BG-BLOCK);
    border-bottom: 2px solid var(--COLOR-DECORATION-BLOCK);
}
/* endregion GLOBAL OBJECTS */

/* region BLOCKS */
main {
    display: flex;
    flex-flow: column nowrap;

    background-color: var(--COLOR-BG-WEBSITE);

    padding: clamp(20px, 6vw, 150px);
}

/* region ABOUT-ME */
.o--about-me{
    display: grid;
    grid-template-columns: 50% 50%;

    gap: 20px;
    grid-template-areas:
            "media name"
            "media tags"
            "media description"
            "media links"
}

.l--about-me__header {
    grid-area: name;
}

.l--about-me__tags {
    grid-area: tags;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.l--about-me__description {
    grid-area: description;
}

.l--about-me__links {
    grid-area: links;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.l--about-me__media {
    grid-area: media;
}
/* endregion ABOUT-ME */

/* region HIGHLIGHT PROJECT */
.o--highlight-project{
    display: grid;
    grid-template-columns: 50% 50%;

    gap: 20px;
    grid-template-areas:
        "header media"
        "description media"
        "description media"
        "links media"
}

.l--highlight-project__header{
    grid-area: header;
}

.l--highlight-project__media{
    grid-area: media;
}

.l--highlight-project__description{
    grid-area: description;
}

.l--highlight-project__links{
    grid-area: links;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* endregion HIGHLIGHT PROJECT */

/* region EXPERTISE */
.o--expertise{
    display: flex;
    flex-direction: column;
}

.l--expertise__domains {
    display: flex;
    flex-flow: row wrap;

    justify-content: stretch;
    gap: 20px;
}

.o--expertise-domain {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    gap: 1.5rem;
}

.c--expertise-domain__header {
    align-self: center;
}

.o--skill-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "icon header"
        "icon description";

    place-content: center;
}

.c--skill-item__icon {
    grid-area: icon;
    aspect-ratio: 1;
}

.c--skill-item__header {
    grid-area: header;
    padding: 3%;
}

.c--skill-item__description {
    grid-area: description;
    padding: 3%;
}

.o--skill-collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.c--skill-collection__icon {

}
/* endregion EXPERTISE */


/* region PROJECT GALLERY */
.o--project-gallery {

}

.l--project-gallery__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Project Card (Object - reusable) */
.o--project-card {

}

.c--project-card__title {

}

.c--project-card__subtitle {

}

.c--project-card__description {

}

/* Card Media Section */
.l--project-card__media {

}

.l--project-card__media img {

}

.l--project-card__media video {

}

/* Card Tools Section */
.l--project-card__tools {

}

.l--project-card__tag-container {

}

/* Card Links Section */
.l--project-card__links-container {

}

.l--project-card__link {

}

.c--project-card__link-image {

}

/* endregion PROJECT GALLERY */

.o--contact{

}
/* endregion BLOCKS */