<!--
in project-card.js:
1. AppendProjectCardToElement appends a copy of the project-card-template to an element (current template: Project-Card-Template.html; reference stored in project-card.js.PROJECT_CARD_TEMPLATE_PATH#PROJECT_CARD_TEMPLATE_ID)
2. LoadProjectCardData will load the data into the card in two steps, both requiring load-dara-refs.js:
    2.a Load the json file at the path specified via TryLoadJson (from load-data-refs.js)
    2.b loadDataRefs (from load-data-refs.js) will parse any attribute "[data-ref='...']" search for the corresponding data in the json-file and replace it with that data.
4. SetupProjectCardInteraction enables the interactivity of the project card, i.e. click to play video & click on more-button to load lightbox

For an example of data look at: /
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> _example__project-card-loading </title>
    
    <link rel="stylesheet" href="../styling/reset.css">
    <link rel="stylesheet" href="../styling/global_variables.css">
    <link rel="stylesheet" href="../styling/media.css">
    <link rel="stylesheet" href="../styling/tag.css">
    <link rel="stylesheet" href="./project-card.css">
</head>

<script type="module">
    import {AppendProjectCardToElement, LoadProjectCardData, SetupProjectCardInteraction} from "./project-card.js";
    import jsonData from "./example_project_data.json" with { type: "json"};

    async function loadProjectCards()
    {
        for (let i = 0; i < 3; i++)
        {
            const projectCard = AppendProjectCardToElement(document.querySelector("body"))
            LoadProjectCardData(projectCard, jsonData);
            SetupProjectCardInteraction(projectCard);
        }
    }

    if (document.readyState === 'loading') {document.addEventListener('DOMContentLoaded', loadProjectCards);}
    else { loadProjectCards();}
</script>

<body style="margin: 0 20vw; height: auto; display: grid; grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr)); gap: 5rem">

</body>

</html>