.tag {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--LAYOUT-BORDER-RADIUS-CYLINDER);
    background: var(--COLOR-BG-ELEMENT);

    color: var(--COLOR-TEXT-ELEMENT);
    font-weight: bold;

    text-align: center;
    text-wrap: nowrap;

    position: relative;
}

.tag--active {
    background-color: var(--COLOR-BG-ELEMENT-TRANSPARENT);
}

.tag--tool {
    font-size: var(--FONT-SIZE-TOOL-ICON);
    background-color: var(--COLOR-BG-BLOCK-FADED);
    border: 2px solid var(--COLOR-BG-ELEMENT-FADED);
    padding: var(--LAYOUT-SPACING-XS);
}

.tag--tool:hover
, .tag--tool:active{
    background-color: var(--COLOR-BG-ELEMENT-FADED);
}

.tag--link-arrow {
    display: inline-flex;

    clip-path: url(
        "data:image/svg+xml,%3Csvg \
        xmlns='http://www.w3.org/2000/svg'%3E%3CclipPath \
        id='rounded-arrow-right' \
        clipPathUnits='objectBoundingBox'%3E%3Cpath \
        d=' \
            M 0.1,0.5 \
        \
            L 0.02, 0.1\
            Q 0.0,0.0 \
            0.18, 0.0 \
        \
            L 0.72, 0.0 \
            Q 0.90, 0.0 \
            0.92, 0.1 \
        \
            L 0.98, 0.4 \
            Q 1.0,0.5 \
            0.98, 0.6 \
        \
            L 0.92, 0.9 \
            Q 0.90, 1.0 \
            0.72, 1.0 \
        \
            L 0.18, 1.0 \
            Q 0.0, 1.0 \
            0.02, 0.9 \
            Z \
       '/%3E%3C/clipPath%3E%3C/svg%3E#rounded-arrow-right");

    justify-content: center;
    align-items: center;
    padding: 0 var(--LAYOUT-SPACING-DEFAULT);
}

a:visited.tag--link-arrow {
    color: var(--COLOR-TEXT-ELEMENT-FADED);
}

a.tag--link-arrow:hover {
    color: var(--COLOR-TEXT-ELEMENT-ACCENT);
}

