.inherit-size {
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
    aspect-ratio: inherit;
}

.flex-col-center {
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: stretch;
}
