.header {
    padding: var(--LAYOUT-SPACING-DEFAULT);
    font-size: var(--FONT-SIZE-TITLE);
    text-align: center;
}

.header--lvl2 {
    font-size: var(--FONT-SIZE-TITLE-LVL2);
}

.emphasized {
    font-size: var(--FONT-SIZE-EMPHASIZED);
    font-weight: bold;
}
