.header {
    /*color: hsl(18, 80%, 80%);*/
    padding: var(--LAYOUT-SPACING-DEFAULT);
    font-size: var(--FONT-SIZE-TITLE);
    text-align: center;
}

.header--lvl2 {
    /*color: hsl(18, 80%, 80%);*/
    font-size: var(--FONT-SIZE-TITLE-LVL2);
}

.header--lvl3 {
    /*color: hsl(18, 80%, 80%);*/
    font-size: var(--FONT-SIZE-TITLE-LVL3);
    font-weight: bold;
}

.emphasized--in-text {
    /* Later ZyKa: adjust this styling to be more easily readable, but without disrupting flow */
    font-size: var(--FONT-SIZE-EMPHASIZED);
    /*color: hsl(18, 80%, 80%);*/
    font-weight: bold;
    font-style: oblique 6deg;
    text-decoration: underline;
}
