/* region project card general layout */
.project-card {
    position: relative;
    overflow: hidden;

    border: 1px solid var(--COLOR-DECORATION-BLOCK);
    border-radius: var(--LAYOUT-BORDER-RADIUS-DEFAULT);
}

.project-card__media-overlay-container {
    position: relative;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.project-card__media {
    position: absolute;
    aspect-ratio: 16/9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.project-card__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
}

.project-card__information {
    background-color: var(--COLOR-DECORATION-BLOCK);

    display: flex;
    flex-flow: row nowrap;

    justify-content: flex-start;
    padding: var(--LAYOUT-DISTANCE-DEFAULT);
    gap: var(--LAYOUT-DISTANCE-SMALL);
}
/* endregion project card*/

/* region project card media */
.project-card__media--absolute {
    position: absolute;
}
/* endregion project card media */

/* region overlay layout */
.overlay {
    --OVERLAY-BUTTON-HEIGHT: 50px;
    --OVERLAY-BUTTON-WIDTH: 50px;

    display: flex;
    flex-flow: column nowrap;

    container: overlay / inline-size;
}

.overlay__element-design--transparent {
    overflow: hidden;

    background: color-mix(in srgb, var(--COLOR-BG-BLOCK) 70%, transparent 30%);
}

/* region title */
.overlay__top-left {
    position: absolute;
    top: min(4%, 1rem);
    left: min(4%, 1.5rem);
}

.overlay__top-left.--inactive {
    transition: opacity var(--ANIMATION-DURATION-DEFAULT) ease-in-out;
    opacity: 0;
}

.overlay__project-title {
    font-size: var(--FONT-SIZE-TITLE-LVL2);

    padding: var(--LAYOUT-DISTANCE-SMALL) var(--LAYOUT-DISTANCE-DEFAULT);

    background-color: var(--COLOR-BG-BLOCK);
}


/* endregion title */

/* region info-button */
.overlay__top-right {
    position: absolute;
    top: var(--LAYOUT-DISTANCE-SMALL);
    right: var(--LAYOUT-DISTANCE-SMALL);
    order: -1;
    z-index: 30;
}

.overlay__top-right.--inactive {
    transition: opacity var(--ANIMATION-DURATION-DEFAULT) ease-in-out;
    opacity: 0;
}

.overlay__info-button {
    background-color: white;
    height: min(20%, 50px);
    aspect-ratio: 1/1;
    border-radius: 50%;

    pointer-events: all;
}
/* endregion info-button */

/* region overlay right-scroll-in */
.overlay__scroll-in--right {
    align-self: flex-end;
    transition: transform var(--ANIMATION-DURATION-DEFAULT) ease-in-out;

    padding-top: var(--OVERLAY-BUTTON-HEIGHT);

    height: 100%;
    width: 100%;
}

.overlay__scroll-in--right.--inactive {
    transform: translateX(100%);
    transition: transform var(--ANIMATION-DURATION-DEFAULT) ease-in-out;
}

.overlay__project-description {
    align-self: center;
    text-align: center;
}
/* endregion overlay right-scroll-in */

/* region overlay__bottom */
.overlay__bottom {
    display: flex;
    flex-flow: row nowrap;

    justify-content: flex-start;
}

.overlay__bottom.--inactive {
    transform: translateY(100%);
    transition: transform var(--ANIMATION-DURATION-DEFAULT) ease-in-out;
    display: none;
}

.project-information__context,
.project-information__group-size,
.project-information__date-time
{
    display: flex;
    flex-flow: row nowrap;
}

:is(
.project-information__context,
.project-information__group-size,
.project-information__date-time) p
{
    font-size: var(--FONT-SIZE-SMALL);
    text-align: center;
}

@container overlay (max-width: 40rem) {
    .overlay__bottom {
        justify-content: space-between;
    }

    .overlay__project-title {
        font-size: var(--FONT-SIZE-DEFAULT);
    }
}
/* endregion overlay__bottom */

/* endregion overlay layout */