/* relative wrapper for next/last scroll-buttons */
.scroll-container {
    position: relative;
    border-radius: var(--LAYOUT-BORDER-RADIUS-DEFAULT);
    /*0ZyKa Colors*/
    background: color-mix(var(--COLOR-DECORATION-BLOCK) 50%, var(--COLOR-BG-WEBSITE) 50%);

    padding: 0 var(--LAYOUT-DISTANCE-LARGE);
}

/* container for the content which is actually scrolling */
.scroll-container__content-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    --MEDIA-STRIP-GAP: var(--LAYOUT-DISTANCE-LARGE);
    gap: var(--MEDIA-STRIP-GAP);

    --MEDIA-STRIP__ITEM_FLEX-BASIS: 100%;
}

.scroll-container__content-container--vertical {
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
}

.scroll-container__content-container--two-elements {
    /* !ZyKa */
    --MEDIA-STRIP__ITEM_FLEX-BASIS: 100%;
}

.scroll-container__item {
    flex: 0 0 calc(var(--MEDIA-STRIP__ITEM_FLEX-BASIS) - var(--MEDIA-STRIP-GAP)/2);
    min-width: 0; /* ensures the flex can be smaller than it's min content -> necessary to use overflow */
    overflow: hidden;

    padding: var(--LAYOUT-DISTANCE-DEFAULT);
    scroll-snap-align: start;

    /*!ZyKa*/
    background-color: #fff; 
}

.scroll-container__nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 1);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}

.scroll-container__nav-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

.scroll-container__nav-button--prev {
    left: 0;
}

.scroll-container__nav-button--next {
    right: 0;
}
