/* +ZyKa this is basically just a horizontally stretchable container, suited for tags, but could be used for other elements; maybe rename? */
.flex-tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    align-items: center;
    justify-items: stretch;

    gap: var(--LAYOUT-DISTANCE-DEFAULT);

    --LAYOUT-CHILD-MIN-WIDTH: 10rem;
    --LAYOUT-CHILD-MAX-WIDTH: 20rem;

    --LAYOUT-CHILD-MIN-HEIGHT: 1.8em;
    --LAYOUT-CHILD-MAX-HEIGHT: 3.6em;
}

.flex-tags__tag {
    flex: 1 1 calc((var(--LAYOUT-CHILD-MIN-WIDTH) + var(--LAYOUT-CHILD-MAX-WIDTH)) / 2);
    min-width: var(--LAYOUT-CHILD-MIN-WIDTH);
    max-width: var(--LAYOUT-CHILD-MAX-WIDTH);

    min-height: var(--LAYOUT-CHILD-MIN-HEIGHT);
    max-height: var(--LAYOUT-CHILD-MAX-HEIGHT);
    overflow: hidden;
}

.tag {
    padding: var(--LAYOUT-DISTANCE-DEFAULT) var(--LAYOUT-DISTANCE-LARGE);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--COLOR-DECORATION-ELEMENT);
    border-radius: var(--LAYOUT-BORDER-RADIUS-CYLINDER);

    text-align: center;
    text-wrap: nowrap;
}

.tag--small-padding {
    padding: var(--LAYOUT-DISTANCE-SMALL) var(--LAYOUT-DISTANCE-DEFAULT);
}

.tag--no-padding {
    padding: 0;
}

.link-arrow {
    display: inline-flex;

    background-color: var(--COLOR-ACCENT-LIGHT);
    padding: var(--LAYOUT-DISTANCE-DEFAULT) var(--LAYOUT-DISTANCE-LARGE);
    clip-path: url(
        "data:image/svg+xml,%3Csvg \
        xmlns='http://www.w3.org/2000/svg'%3E%3CclipPath \
        id='rounded-arrow-right' \
        clipPathUnits='objectBoundingBox'%3E%3Cpath \
        d=' \
            M 0.1,0.5 \
        \
            L 0.02, 0.1\
            Q 0.0,0.0 \
            0.18, 0.0 \
        \
            L 0.72, 0.0 \
            Q 0.90, 0.0 \
            0.92, 0.1 \
        \
            L 0.98, 0.4 \
            Q 1.0,0.5 \
            0.98, 0.6 \
        \
            L 0.92, 0.9 \
            Q 0.90, 1.0 \
            0.72, 1.0 \
        \
            L 0.18, 1.0 \
            Q 0.0, 1.0 \
            0.02, 0.9 \
            Z \
       '/%3E%3C/clipPath%3E%3C/svg%3E#rounded-arrow-right");

    justify-content: center;
    align-items: center;
}
