/* relative wrapper for next/last scroll-buttons */
.scroll-container {
    position: relative;
    display: flex;

    padding: var(--LAYOUT-DISTANCE-SMALL) var(--LAYOUT-DISTANCE-SMALL);

    border-radius: var(--LAYOUT-BORDER-RADIUS-DEFAULT);
    background: var(--COLOR-DECORATION-BLOCK-FADED);
}

/* container for the content which is actually scrolling */
.scroll-container__content-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    --SCROLL-CONTAINER-ITEM-GAP: var(--LAYOUT-DISTANCE-LARGE);
    gap: var(--SCROLL-CONTAINER-ITEM-GAP);

    --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 1;
    height: 100%;
}

.scroll-container__content-container--vertical {
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    height: auto;
    width: 100%;
}

.scroll-container__content-container--two-elements {
    --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 2;
}

.scroll-container__item {
    position: relative;

    flex: 0 0 calc(100% / var(--SCROLL-CONTAINER-VISIBLE-CHILD-COUNT) - var(--SCROLL-CONTAINER-ITEM-GAP)/2);
    min-width: 0; /* ensures the flex can be smaller than it's min content -> necessary to use overflow */
    overflow: auto;

    scroll-snap-align: start;

    /* LATERZyKa styling-scroll-container: ensure scroll-container-items and their descriptions visibly belong together */
    background-color: var(--COLOR-DECORATION-BLOCK);
    border-radius: var(--LAYOUT-BORDER-RADIUS-SMALL);
}

.scroll-container__item-content {
    overflow: auto;
    width: 100%;
    aspect-ratio: 3/2;
}

.scroll-container__item-description {
    overflow: auto;
    width: 100%;

    /* LATERZyKa styling: adjust colors, such that there aren't 50 different version of the transparent color */
    background-color: color-mix(in srgb, var(--COLOR-DECORATION-BLOCK) 100%, transparent 0%);
    padding: var(--LAYOUT-DISTANCE-SMALL);
}

.scroll-container__nav-button {
    width: 100px;
    height: 100px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.scroll-container__nav-button--prev::before,
.scroll-container__nav-button--next::before{
    content: "";
    display: block;
    width: 40%;
    height: 40%;
    background-color: color-mix(in srgb, var(--COLOR-DECORATION-ELEMENT) 50%, transparent 50%);
}

.scroll-container__nav-button--prev:hover::before,
.scroll-container__nav-button--next:hover::before {
    background-color: var(--COLOR-DECORATION-ELEMENT);
}

.scroll-container__nav-button--prev {
    left: 0;
    justify-content: flex-start;
}

.scroll-container__nav-button--prev::before {
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.scroll-container__nav-button--next {
    right: 0;
    justify-content: flex-end;
}

.scroll-container__nav-button--next::before {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}