/* relative wrapper for next/last scroll-buttons */
.scroll-container {
    position: relative;

    padding: var(--LAYOUT-SPACING-SMALL);

    border-radius: var(--LAYOUT-BORDER-RADIUS-DEFAULT);
    background: var(--COLOR-DECORATION-BLOCK-FADED);

    container: scroll-container / inline-size;
}

/* container for the content which is actually scrolling */
.scroll-container__content-container {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    --SCROLL-CONTAINER-ITEM-GAP: var(--LAYOUT-SPACING-DEFAULT);
    gap: var(--SCROLL-CONTAINER-ITEM-GAP);

    --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 1;
}

.scroll-container__content-container--vertical {
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    height: auto;
    width: 100%;
}

.scroll-container__item {
    position: relative;

    --SCROLL-CONTAINER-GAP-COUNT: calc(var(--SCROLL-CONTAINER-VISIBLE-CHILD-COUNT) - 1);
    /* 100% is the full visible width; divide it by the number of items to have them on screen & subtract the gap, such that everything is fully visible */
    flex: 0 0 calc(100% / var(--SCROLL-CONTAINER-VISIBLE-CHILD-COUNT) - var(--SCROLL-CONTAINER-ITEM-GAP)/2 * min(1, var(--SCROLL-CONTAINER-GAP-COUNT)));
    min-width: 0; /* ensures the flex can be smaller than it's min content -> necessary to use overflow */
    scroll-snap-align: start;

    /* TodoZyKa Styling-scroll-container: ensure scroll-container-items and their descriptions visibly belong together */
    background-color: var(--COLOR-DECORATION-BLOCK);
    border-radius: var(--LAYOUT-BORDER-RADIUS-SMALL);
}

.scroll-container__bottom_navigation_line {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.scroll-container__bot_nav_line_button {
    padding: var(--LAYOUT-SPACING-SMALL);
    background-color: var(--COLOR-DECORATION-ELEMENT);
    border-radius: var(--LAYOUT-BORDER-RADIUS-CYLINDER);
}

.scroll-container__absolute_nav_button {
    width: 100px;
    height: 100px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.scroll-container__nav-button--prev::before,
.scroll-container__nav-button--next::before{
    content: "";
    display: block;
    width: 40%;
    height: 40%;
    background-color: color-mix(in srgb, var(--COLOR-DECORATION-ELEMENT) 50%, transparent 50%);
}

.scroll-container__nav-button--prev:hover::before,
.scroll-container__nav-button--next:hover::before {
    background-color: var(--COLOR-DECORATION-ELEMENT);
}

.scroll-container__nav-button--prev {
    left: 0;
    justify-content: flex-start;
}

.scroll-container__nav-button--prev::before {
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.scroll-container__nav-button--next {
    right: 0;
    justify-content: flex-end;
}

.scroll-container__nav-button--next::before {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
/* region example-additional styling */

/* endregion example-additional styling */