.example {
    background-color: gray;
    padding: 0 25vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 100px;
}

.example__filter-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.debug__filter__item {
    width: 50px;
    height: 50px;
}

.example__item-grid {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.example__item {
    background-color: darkslategray;
    height: 50px;
}

.filterable {
}

.filterable.--hidden {
    display: none;
}
