/* region Dev-Visualisation */
* {
    /*outline: 3px dashed rgba(255, 0, 0, 0.5);*/
    /*background-color: rgba(148, 112, 219, 0.3);*/
}

.debug--bg {
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
}

.debug--circle {
    border-radius: 50%;
}
/* endregion Dev-Visualisation */

/* region Temporary Debug */
.debug-section {
    align-self: center;
}

.parent {
    height: 100px;
    width: 80vw;

    display: flex;
    flex-flow: row nowrap;

    --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 2;
    --SCROLL-CONTAINER-ITEM-GAP: 20px;

    gap: var(--SCROLL-CONTAINER-ITEM-GAP);
}

.child {
    --SCROLL-CONTAINER-GAP-COUNT: calc(var(--SCROLL-CONTAINER-VISIBLE-CHILD-COUNT) - 1);
    flex: 0 0 calc(100% / var(--SCROLL-CONTAINER-VISIBLE-CHILD-COUNT) - var(--SCROLL-CONTAINER-ITEM-GAP)/2 * min(1, var(--SCROLL-CONTAINER-GAP-COUNT)));
}
/* endregion Temporary Debug */