/* default color-mode is dark*/
:root {
    /* region COLOR PALETTE */
    --COLOR-WHITE: hsl(0, 0%, 100%);
    --COLOR-LIGHT: hsl(18, 72%, 42%);
    --COLOR-LIGHT-ACCENT: hsl(18, 52%, 57%);
    --COLOR-LIGHT-FADED: hsl(18, 57%, 25%);

    --COLOR-BLACK: hsl(198, 10%, 10%);
    --COLOR-DARK: hsl(263, 33%, 30%);
    --COLOR-DARK-ACCENT: hsl(263, 55%, 15%);
    --COLOR-DARK-FADED: hsl(263, 13%, 45%);

    --COLOR-DARK-TRANSPARENT: color-mix(in srgb, var(--COLOR-DARK) 90%, transparent 10%);
    --COLOR-LIGHT-TRANSPARENT: color-mix(in srgb, var(--COLOR-LIGHT) 90%, transparent 10%);
    /* endregion COLOR PALETTE  */

    /* region COLOR CONTEXTS */
    --COLOR-BG-WEBSITE: hsl(270, 20%, 10%);

    --COLOR-BG-BLOCK: var(--COLOR-DARK);
    --COLOR-BG-BLOCK-TRANSPARENT: var(--COLOR-DARK-TRANSPARENT);
    --COLOR-BG-BLOCK-FADED: var(--COLOR-DARK-FADED);
    --COLOR-TEXT-BLOCK: var(--COLOR-WHITE);
    --COLOR-TEXT-BLOCK-ACCENT: var(--COLOR-LIGHT-ACCENT);
    --COLOR-TEXT-BLOCK-FADED: var(--COLOR-LIGHT-FADED);

    --COLOR-BG-ELEMENT: var(--COLOR-LIGHT);
    --COLOR-BG-ELEMENT-TRANSPARENT: var(--COLOR-LIGHT-TRANSPARENT);
    --COLOR-BG-ELEMENT-FADED: var(--COLOR-LIGHT-FADED);
    --COLOR-TEXT-ELEMENT: var(--COLOR-BLACK);
    --COLOR-TEXT-ELEMENT-ACCENT: var(--COLOR-DARK-ACCENT);
    --COLOR-TEXT-ELEMENT-FADED: var(--COLOR-DARK-FADED);
    /* endregion COLOR CONTEXTS */

    /* region FONTS */
    /* TodoZyKa Styling: Adjust the fonts (especially for tags) */
    --FF-MAIN: sans-serif;
    --FF-SECONDARY: serif;

    --FONT-SIZE-DEFAULT: 1rem;
    --FONT-SIZE-XS: 0.4rem;
    --FONT-SIZE-SMALL: 0.8rem;
    --FONT-SIZE-TITLE: 2.0rem;
    --FONT-SIZE-TITLE-LVL2: 1.5rem;

    --FONT-SIZE-EMPHASIZED: 1.2em;

    --ELEMENT-LINE-HEIGHT: 1.8em; /* 1.8em = 1 line-height */


    color: var(--COLOR-TEXT-BLOCK);
    font-family: var(--FF-MAIN), var(--FF-SECONDARY);
    font-size: var(--FONT-SIZE-DEFAULT);
    line-height: var(--ELEMENT-LINE-HEIGHT);
    /* endregion FONTS */

    /* region LAYOUT */
    --LAYOUT-SPACING-XS: clamp(0.125rem, calc(0.25vw + 0.125rem), 0.5rem);
    --LAYOUT-SPACING-SMALL: clamp(0.375rem, calc(0.75vw + 0.25rem), 1rem);
    --LAYOUT-SPACING-DEFAULT: clamp(0.625rem, calc(1.25vw + 0.5rem), 1.5rem);
    --LAYOUT-SPACING-LARGE: clamp(1.875rem, calc(3vw + 1rem), 4rem);
    --LAYOUT-SPACING-XL: clamp(6.25rem, calc(12vw + 3rem), 12rem);

    --LAYOUT-BORDER-RADIUS-CYLINDER: 999px;
    --LAYOUT-BORDER-RADIUS-ELLIPSE: 50%;

    --LAYOUT-BORDER-RADIUS-DEFAULT: var(--LAYOUT-SPACING-DEFAULT);
    --LAYOUT-BORDER-RADIUS-XS: var(--LAYOUT-SPACING-XS);
    --LAYOUT-BORDER-RADIUS-SMALL: var(--LAYOUT-SPACING-SMALL);
    --LAYOUT-BORDER-RADIUS-LARGE: var(--LAYOUT-SPACING-LARGE);
    --LAYOUT-BORDER-RADIUS-XL: var(--LAYOUT-SPACING-XL);

    --LAYOUT-CHILD-MIN-WIDTH: 0rem;
    --LAYOUT-CHILD-MAX-WIDTH: 0rem;
    /* endregion LAYOUT */

    /* region ANIMATION */
    --ANIMATION-DURATION-DEFAULT: 0.3s;
    --ANIMATION-DURATION-SLOW: 0.6s;
    --ANIMATION-DURATION-SLOWEST: 1s;
    --ANIMATION-DURATION-FAST: 0.1s;
    --ANIMATION-DURATION-FASTER: 0.05s;
    /* endregion ANIMATION */

    /* region DEBUG-MEDIA-QUERY OUTLINE */
    --DEBUG-MEDIA-QUERY-COLOR-SMALL-PORTRAIT: hsl(240, 80%, 65%);
    --DEBUG-MEDIA-QUERY-COLOR-SMALL-LANDSCAPE: hsl(0, 80%, 65%);
    --DEBUG-MEDIA-QUERY-COLOR-LARGE: hsl(120, 80%, 65%);

    --DEBUG-MEDIA-QUERY-OUTLINE-SMALL-PORTRAIT: 2px solid var(--DEBUG-MEDIA-QUERY-COLOR-SMALL-PORTRAIT);
    --DEBUG-MEDIA-QUERY-OUTLINE-SMALL-LANDSCAPE: 2px solid var(--DEBUG-MEDIA-QUERY-OUTLINE-SMALL-LANDSCAPE);
    --DEBUG-MEDIA-QUERY-OUTLINE-LARGE: 2px solid var(--DEBUG-MEDIA-QUERY-OUTLINE-LARGE);
     /* endregion DEBUG-MEDIA-QUERY OUTLINE */
}

/* dark is written as default */
/*@media (prefers-color-scheme: dark) {  }*/
@media (prefers-color-scheme: light) {
    :root {
        --COLOR-BG-WEBSITE: hsl(18, 80%, 80%);

        --COLOR-BG-BLOCK: var(--COLOR-LIGHT-TRANSPARENT);
        --COLOR-BG-BLOCK-TRANSPARENT: var(--COLOR-LIGHT-TRANSPARENT);
        --COLOR-BG-BLOCK-FADED: var(--COLOR-LIGHT-FADED);
        --COLOR-TEXT-BLOCK: var(--COLOR-BLACK);
        --COLOR-TEXT-BLOCK-ACCENT: var(--COLOR-DARK-ACCENT);
        --COLOR-TEXT-BLOCK-FADED: var(--COLOR-DARK-FADED);

        --COLOR-BG-ELEMENT: var(--COLOR-LIGHT);
        --COLOR-BG-ELEMENT-TRANSPARENT: var(--COLOR-DARK-TRANSPARENT);
        --COLOR-BG-ELEMENT-FADED: var(--COLOR-DARK-FADED);
        --COLOR-TEXT-ELEMENT: var(--COLOR-WHITE);
        --COLOR-TEXT-ELEMENT-ACCENT: var(--COLOR-LIGHT-ACCENT);
        --COLOR-TEXT-ELEMENT-FADED: var(--COLOR-LIGHT-FADED);
    }
}
