/* region CSS_JS-RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg, iframe {
    display: block;
}

font, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6, figcaption, th, td, li, a {
    overflow-wrap: break-word;
    text-wrap: pretty;
    hyphens: none;

    font-size: 1rem;
    line-height: 1.5;

    color: var(--COLOR-TEXT-MAIN);
    text-align: justify;
}

a:visited {
    color: var(--COLOR-TEXT-ACCENT);
}

a:hover {
    color: var(--COLOR-TEXT-FADED);
}
/* endregion CSS_JS-RESET */