.lightbox__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
}

.lightbox__overlay.--active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox__content-container {
    position: relative;
    width: auto;
    height: auto;

    margin: var(--LAYOUT-SPACING-DEFAULT);
    padding: var(--LAYOUT-SPACING-DEFAULT);
    display: flex;

    background: var(--COLOR-BG-BLOCK);
    border-radius: var(--LAYOUT-BORDER-RADIUS-LARGE);
}

.lightbox__overlay.--active.--fullscreen .lightbox__content-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    margin: var(--LAYOUT-SPACING-XS);
    padding: var(--LAYOUT-SPACING-XS);
    border-radius: var(--LAYOUT-BORDER-RADIUS-SMALL);
}

.lightbox__content {
    max-width: 100%;
    max-height: 100%;

    overflow-y: auto;
}

.lightbox__overlay.--active.--fullscreen .lightbox__content {
    width: 100%;
    height: 100%;
}

.lightbox__close-btn {
    position: absolute;
    z-index: 1001;
    top: -40px;
    right: -45px;
    font-size: 30px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: var(--COLOR-BG-BLOCK);
    color: var(--COLOR-TEXT-BLOCK);
    cursor: pointer;
}

.lightbox__overlay.--active.fullscreen .lightbox__close-btn {
    top: 40px;
    right: 45px;
}
