<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title> Footer </title>

    <link rel="stylesheet" href="../styling/reset.css">
    <link rel="stylesheet" href="../styling/global_variables.css">
    <link rel="stylesheet" href="../styling/media.css">
    <link rel="stylesheet" href="../styling/main.css">

    <link rel="stylesheet" href="Footer.css">
    <script type="module">
        import {initialiseFooter} from "./Footer.js";
        if (document.readyState === 'loading')
        {
            document.addEventListener('DOMContentLoaded', initialiseFooter);
        }
        else
        {
            initialiseFooter()
        }
    </script>
</head>
<body style="width: 100vw; height: 100vh;">

<footer class="footer">
    <hr class="main__separator footer__separator">

    <div class="footer__content">
        <div class="footer_copyright">
            <p class="footer__copyright"> &copy; 2026 Valentin Then Bergh </p>
        </div>

        <div class="footer__contact">
            <a class="footer__mail" href="mailto:valentin.thenbergh@online.de"> valentin.thenbergh@online.de </a>
            <a class="footer__phone" href="tel:0049-1785789012"> 0049-1785789012 </a>
        </div>

        <div class="footer__imprint">
            Valentin Then Bergh <br>
            Muenchener Straße 31 <br>
            51103, Cologne <br>
            Germany
        </div>
    </div>
</footer>

</body>
</html>