.about-me {

}

.tag--about-me {
    container-name: about-me__tag;
}

.tag--about-me-br {
    display: block;
}

@container about-me__tag (min-width: 12rem) {
    .tag--about-me-br {
        display: none;
    }
}