.contribution-section {

}

.contribution-section__scroll-container {
    height: 80vh;
    container: contribution-scroll-container / size;
}

.scroll-container__content-container--contributions-section {
    --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 1;
}

.scroll-container__item-content {
    aspect-ratio: 3/2;
}

@media (max-height: 600px) {
    .scroll-container__item-content {
        float: left;
    }
}

/* region scroll-container-child-count */
@media (min-width: 1200px) {
    height: min(calc(var(--ELEMENT-LINE-HEIGHT)*3 + 80vw), 60vh, 1000px);
}

/* PLCHZyKa SCSS: replace with SCSS */
@container contribution-scroll-container (min-width: 1200px) {
    @container contribution-scroll-container (aspect-ratio >= 2/1) {
        .scroll-container__content-container--contributions-section {
            --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 2;
        }
    }

    @container contribution-scroll-container (aspect-ratio >= 3/1) {
        .scroll-container__content-container--contributions-section {
            --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 3;
        }
    }

    @container contribution-scroll-container (aspect-ratio >= 4/1) {
        .scroll-container__content-container--contributions-section {
            --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 4;
        }
    }

    @container contribution-scroll-container (aspect-ratio >= 5/1) {
        .scroll-container__content-container--contributions-section {
            --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 5;
        }
    }

    @container contribution-scroll-container (aspect-ratio >= 6/1) {
        .scroll-container__content-container--contributions-section {
            --SCROLL-CONTAINER-VISIBLE-CHILD-COUNT: 6;
        }
    }
}
/* endregion scroll-container-child-count */