.main {
    display: flex;
    flex-flow: column nowrap;

    background-color: var(--COLOR-BG-WEBSITE);

    padding: 15vh 0;
    gap: var(--LAYOUT-DISTANCE-XL);
}

.main__panel {
    padding: 0 10vw;
    width: 100%;
}

.main__separator {
    margin: 0 4vw;
    height: 25px;
    --COLOR-SEPARATOR: var(--COLOR-DECORATION-BLOCK);
}
