/* region DEFAULT-PANEL */
.project-section {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
    align-items: center;

    gap: var(--LAYOUT-DISTANCE-LARGE);
}

.project-section__media {
    flex: 1 1 calc(66vh * 4/3);
    aspect-ratio: 4/3;

    max-width: calc(66vh * 4/3);
    max-height: 66vh;

    align-self: center;
}

.project-section__info-container {
    flex: 1 1 28rem;

    align-self: stretch;

    gap: var(--LAYOUT-DISTANCE-DEFAULT);
}

.project-section__links {
    margin-top: auto;
}

/* smaller screens -> vertical */
@media (max-width: 1279px) {
    .project-section {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .project-section__media {
        align-self: center;

        flex-basis: auto;
    }

    .project-section__info-container {
        align-self: center;

        flex-basis: auto;
        min-width: 0;
    }
}

/*!ZyKa sizing, ensure sizes between 1280px and 1920px don't look weird af */
