/* region DEFAULT-PANEL */
.project-section {
    display: flex;
    flex-flow: column nowrap;
}

.project-section__main-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    gap: var(--LAYOUT-SPACING-LARGE);
}

.project-section__media {
    aspect-ratio: 4/3;
    max-width: min(calc(80vh * 4/3), 80vw);

    align-self: center;
}

.project-section__info-container {
    align-self: stretch;

    display: flex;
    flex-flow: column nowrap;
    gap: var(--LAYOUT-SPACING-SMALL);
}

.project-section__title {
    font-size: var(--FONT-SIZE-TITLE);
}

.project-section__description {
    padding: var(--LAYOUT-SPACING-DEFAULT) 0;
}

.project-section__post-desc-link {
    float: right;
}

.project-section__data-table {
    margin-left: var(--LAYOUT-SPACING-DEFAULT);
    margin-right: var(--LAYOUT-SPACING-DEFAULT);
    margin-bottom: var(--LAYOUT-SPACING-DEFAULT);
    padding: var(--LAYOUT-SPACING-XS) var(--LAYOUT-SPACING-SMALL);

    border-radius: var(--LAYOUT-BORDER-RADIUS-SMALL);
    background-color: var(--COLOR-BG-BLOCK);
}

.project-section__data-table td,
.project-section__data-table th
{
    padding: 0 var(--LAYOUT-SPACING-DEFAULT) 0 var(--LAYOUT-SPACING-XS);
    vertical-align: middle;
}

.project-section__data-table td:first-child,
.project-section__data-table th:first-child {
    width: 1%;
    white-space: nowrap;
}


.project-section__data-title {
    font-weight: bold;
}

.project-section__contributions {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--LAYOUT-SPACING-DEFAULT);
}

.project-section__links {
    margin-top: auto;
}

.flex-tags--project-section-links {
    justify-content: end;
}

.project-section__workflow {
    overflow: hidden;
    width: 100%;
    margin-top: var(--LAYOUT-SPACING-LARGE);

    border-radius: var(--LAYOUT-BORDER-RADIUS-DEFAULT);
    /* TodoZyKa Styling: adjust the color of the workflow section border */
    border: 1px solid var(--COLOR-DECORATION-BLOCK);
    padding: 10px;

    transition:
            margin-top var(--ANIMATION-DURATION-FAST) ease-in-out,
            height var(--ANIMATION-DURATION-FAST) ease-in-out,
            max-height var(--ANIMATION-DURATION-FAST) ease-in-out,
            padding var(--ANIMATION-DURATION-FAST) ease-in-out;
}

/* NoZyKa active-system: switch all the [...]--active and [...]--collapsed to just active/collapsed so that they work independent of the class they modify via .[class].--active */
.project-section__workflow--collapsed {
    margin-top: 0;
    max-height: 0;
    padding: 0;
    border: 0;
}

/* small-wide screen */
@media (orientation: landscape) {
    .project-section__media {
        max-width: min(calc(80vh * 4/3), 80vw);
    }
}

@media (min-width: 1200px) {
    .project-section__main-content {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .project-section__media {
        flex: 1 1 50%;
        min-width: 0;
    }

    .project-section__info-container {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

.tag--project-section-link {
    --LAYOUT-TAG-WIDTH: 100%;
}

@container flex-tags (min-width: 20rem)
{
    .tag--project-section-link {
        --LAYOUT-TAG-WIDTH: 50%;
    }
}