.ZyKa-scroll-container__item {
    border-radius: var(--LAYOUT-BORDER-RADIUS-LARGE);
    overflow: hidden;

    position: relative;
}

.ZyKa-c--media-container__item-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: color-mix(in srgb, var(--COLOR-DARK) 90%, white 10%);
    /* -ZyKa adjust distances */
    padding: var(--LAYOUT-DISTANCE-DEFAULT) var(--LAYOUT-DISTANCE-LARGE);
    text-align: left;

    /*!ZyKa*/
    border-radius: var(--LAYOUT-BORDER-RADIUS-LARGE);
    height: 10px;
    transition: height var(--ANIMATION-DURATION-FAST) ease-in-out;
}

.ZyKa-scroll-container__item:hover .c--media-container__item-description {
    height: 100px;
    transition: height var(--ANIMATION-DURATION-FAST) ease-in-out;
}