.media-figure {
    display: flex;
    flex-flow: column nowrap;
    --DESCRIPTION--HEIGHT: calc(var(--ELEMENT-LINE-HEIGHT) * 3);

    position: relative;
    overflow: hidden;
}

.media-figure__img {
    position: relative;
}

.media-figure__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--DESCRIPTION--HEIGHT);

    text-align: left;
    background: color-mix(in srgb, var(--COLOR-BG-ELEMENT) 70%, transparent 30%);

    /* LATERZyKa styling: adjust the border of figure->images (e.g. media--rounded) to the border of their captions */
    border-radius: var(--LAYOUT-BORDER-RADIUS-DEFAULT);
    padding: var(--LAYOUT-DISTANCE-XS);
}

.media-flex-center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media--contain {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* region cover */
.media--cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* endregion cover */

/* region absolute */
.media-relative-wrapper {
    position: relative;
    overflow: hidden;
}

.media-absolute-position_center {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-0%, -0%);
}
/* endregion absolute */

/* region styling */
/* LATERZyKa styling: this whole class doesn't make sense, because the border size of images should depend on the size of the image */
.media--rounded {
    border-radius: var(--LAYOUT-BORDER-RADIUS-LARGE);
}

.media--hover-scale:hover {
    transform: scale(1.2);
}
/* endregion styling */

.media--img-in-font {
    height: 1em;
    width: auto;
    display: inline-block;
    object-fit: contain;
    padding: 0 1ch;
}

.media-pre-code--left {
    width: 100%;
    height: 100%;

    display: block;
    text-align: left;
    overflow: scroll;
}
