.further-projects-section {
    display: flex;
    flex-flow: column nowrap;
}

.further-projects-section__cards-grid {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    /*grid-template-rows: 200px 200px 200px 200px 200px;*/
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

    gap: var(--LAYOUT-GAP-DEFAULT);
}

.further-projects-section__project-item {

}

.further-projects-section__project-item--size_tall {
    grid-row: span 2;
    grid-column: span 2;
}
