.info-container {
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    gap: var(--LAYOUT-DISTANCE-LARGE);

    /* +ZyKa removed padding, will have to figure out later, how I do proper consistent padding */
    /*padding: var(--LAYOUT-DISTANCE-DEFAULT);*/
}

.info-container--no-padding {
    padding: 0;
}
