.info-container {
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    gap: var(--LAYOUT-DISTANCE-LARGE);
    padding: var(--LAYOUT-DISTANCE-LARGE) var(--LAYOUT-DISTANCE-XL);
}

.info-container--no-padding {
    padding: 0;
}
