.o--project-gallery {
    display: grid;
    grid-template-areas:
    "header header header header"
    "first first second second"
    "first first second second"
    "third fourth fifth sixth"
;
    gap: var(--LAYOUT-GAP-DEFAULT);

    justify-content: stretch;
    align-content: stretch;
}

.o--project-gallery__project-item {
    border: 2px solid var(--COLOR-ACCENT-DARK);
    border-radius: var(--LAYOUT-BORDER-RADIUS-LARGE);
    overflow: hidden;
}

.c--project-gallery__header {
    grid-area: header;
}

.c--project-gallery_project-item--first {
    grid-area: first;
}

.c--project-gallery_project-item--second {
    grid-area: second;
}

.c--project-gallery_project-item--third {
    grid-area: third;
}

.c--project-gallery_project-item--fourth {
    grid-area: fourth;
}

.c--project-gallery_project-item--fifth {
    grid-area: fifth;
}

.c--project-gallery_project-item--sixth {
    grid-area: sixth;
}