.workflow-section {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--LAYOUT-DISTANCE-LARGE);
}

/* !ZyKa check this out; either this or the inherit-size doesn't work as intended */
.workflow-section__media {
    max-height: 30vh;
}

.flex-tags--workflow-primary {
    font-size: var(--FONT-SIZE-TITLE-LVL2);

    --LAYOUT-CHILD-MIN-WIDTH: 5rem;
    --LAYOUT-CHILD-MAX-WIDTH: 7.5rem;
}

.flex-tags--workflow-secondary {
    font-size: var(--FONT-SIZE-EMPHASIZED);

    --LAYOUT-CHILD-MIN-WIDTH: 3rem;
    --LAYOUT-CHILD-MAX-WIDTH: 4rem;
}