/* region DEFAULT-PANEL */
.project-header-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    container: project-header-section / inline-size;
    place-items: stretch;
}

/* region media queries for grid-layout of project-header-section */
@media (min-width: 0em) and (max-width: 59.999rem)
{
    .project-header-section {
        /*background-color: var(--DEBUG-MEDIA-QUERY-COLOR-SMALL);*/
        gap: var(--LAYOUT-SPACING-DEFAULT);
    }

    .project-header-section__title {
        grid-column: 1 / -1;
        grid-row: 1;
        margin-bottom: var(--LAYOUT-SPACING-DEFAULT);
    }

    .project-header-section__media {
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .project-header-section__data-table {
        grid-column: 1 / -1;
        grid-row: 3;
    }

    .project-header-section__description {
        grid-column: 1 / -1;
        grid-row: 4;
    }

    .project-header-section__links {
        grid-column: 1 / -1;
        grid-row: 5;
    }
}

@media (min-width: 60rem) and (max-width: 79.999rem)
{
    .project-header-section {
        /*background-color: var(--DEBUG-MEDIA-QUERY-COLOR-MEDIUM);*/
        gap: 0 var(--LAYOUT-SPACING-DEFAULT);
    }

    .project-header-section__title {
        grid-column: 1 / -1;
        grid-row: 1;
        margin-bottom: var(--LAYOUT-SPACING-DEFAULT);
    }

    .project-header-section__media {
        grid-column: 1;
        grid-row: 2;
    }

    .project-header-section__data-table {
        grid-column: 2;
        grid-row: 2;
    }

    .project-header-section__description {
        grid-column: 1 / -1;
        grid-row: 3;
    }

    .project-header-section__links {
        grid-column: 1 / -1;
        grid-row: 4;
    }
}

@media (min-width: 80rem)
{
    .project-header-section {
        /* background-color: var(--DEBUG-MEDIA-QUERY-COLOR-LARGE); */
        gap: 0 var(--LAYOUT-SPACING-LARGE);
    }

    .project-header-section__title {
        grid-column: 1 / span 2;
        grid-row: 1;
        margin-bottom: var(--LAYOUT-SPACING-DEFAULT);
    }

    .project-header-section__media {
        grid-column: 1;
        grid-row: 2 / 5;
    }

    .project-header-section__data-table {
        grid-column: 2;
        grid-row: 2;
    }

    .project-header-section__description {
        grid-column: 2;
        grid-row: 3;
    }

    .project-header-section__links {
        grid-column: 2;
        grid-row: 4;
    }
}
/* endregion */

/* region title */
.project-header-section__title {
    place-self: center;
    font-size: var(--FONT-SIZE-TITLE);
    hyphens: none;
}

@media (max-width: 20rem) {
    .project-header-section__title {
        hyphens: manual;
    }
}
/* endregion */

/* region media styling */
.project-header-section__media {
    width: 100%;
    max-width: min(calc(80vh * 4/3), 100vw);

    align-self: flex-start;

    border-radius: var(--LAYOUT-BORDER-RADIUS-DEFAULT);
    background-color: var(--COLOR-BG-BLOCK);
}

.project-header-section__video:hover
{

}

.project-header-section__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(135%);
    cursor: pointer;
}

.project-header-section__thumbnail:hover
{
    transform: scale(150%);
    filter: brightness(0.8);
}

.project-header-section__video-container .project-header-section__video-play-button
{
    position: absolute;
    visibility: hidden;
}

.project-header-section__video-container:hover .project-header-section__video-play-button
{
    visibility: visible;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 50px;
    pointer-events: none;
}

.project-header-section__trailer
, .project-header-section__dev-video {
    width: 100%;
    height: 100%;
}

.scroll-container__bot-nav-line-button {
    cursor: pointer;
}
/* endregion */

/* region data-table */
.project-header-section__data-table {
    padding: var(--LAYOUT-SPACING-SMALL) var(--LAYOUT-SPACING-SMALL);

    border-radius: var(--LAYOUT-BORDER-RADIUS-SMALL);
    background-color: var(--COLOR-BG-BLOCK);

    display: grid;
}

@container project-header-section (max-width: 29.99rem)
{
    .project-header-section__data-table {
        grid-template-columns: 1fr;
        gap: var(--LAYOUT-SPACING-DEFAULT);
    }

    .project-header-section__data-table-main {
        grid-column: 1;
        grid-row: 1;
    }

    .project-header-section__roles {
        grid-column: 1;
        grid-row: 2;
    }

    .project-header-section__tools {
        grid-column: 1;
        grid-row: 3;
    }
}

@container project-header-section (min-width: 30rem)
{
    .project-header-section__data-table {
        grid-template-columns: 1fr 1fr;
        gap: var(--LAYOUT-SPACING-DEFAULT);
    }

    .project-header-section__data-table-main {
        grid-column: 1;
        grid-row: 1;
    }

    .project-header-section__roles {
        grid-column: 2;
        grid-row: 1;
    }

    .project-header-section__tools {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .project-header-section__data-table-main {
        display: flex;
        flex-flow: column nowrap;
        place-self: center;
    }

    .project-header-section__roles {
        display: flex;
        flex-flow: column nowrap;
        place-self: center;
    }
}

.project-header-section__table-item {
    place-self: flex-start;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: var(--LAYOUT-SPACING-SMALL);

    text-align: left;
}

.project-header-section__table-label {
    flex: 0 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.project-header-section__table-value {
    flex: 1 0 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.project-header-section__roles {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.project-header-section__roles-title {
    font-weight: bold;
    text-align: left;
    margin-right: var(--LAYOUT-SPACING-DEFAULT);
}

.project-header-section__roles-list {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.project-header-section__roles-list > li {
    list-style: circle inside;
}

.project-header-section__tools {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.project-header-section__tools-title {
    font-weight: bold;
    text-align: left;
    margin-right: var(--LAYOUT-SPACING-DEFAULT);
    display: none;
}

.project-header-section__tools-icons {
    flex-grow: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    gap: var(--LAYOUT-SPACING-SMALL);
}

.project-header-section__tools-icons .tag{
    flex: 0 0 3em;
    height: fit-content;
    padding: var(--LAYOUT-SPACING-XS) var(--LAYOUT-SPACING-XS);
}
/* endregion */

.project-header-section__description {
    padding: var(--LAYOUT-SPACING-DEFAULT) 0;
}

/* region links */
.project-header-section__links {
    place-self: end;
    width: 50%;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: var(--LAYOUT-SPACING-DEFAULT);
}

.project-header-section__link {
    hyphens: none;
    padding: var(--LAYOUT-SPACING-XS) var(--LAYOUT-SPACING-DEFAULT);
    cursor: pointer;
}

@media (max-width: 20rem) {
    .project-section__behind-the-scenes {
        hyphens: manual;
    }
}
/* endregion */

/* region deprecated workflow container for preview of workflow on main-page */
.project-section__workflow {
    overflow: hidden;
    width: 100%;
    margin-top: var(--LAYOUT-SPACING-LARGE);

    border-radius: var(--LAYOUT-BORDER-RADIUS-DEFAULT);
    padding: 10px;

    transition:
            margin-top var(--ANIMATION-DURATION-FAST) ease-in-out,
            height var(--ANIMATION-DURATION-FAST) ease-in-out,
            max-height var(--ANIMATION-DURATION-FAST) ease-in-out,
            padding var(--ANIMATION-DURATION-FAST) ease-in-out;

    border: 2px solid var(--COLOR-BG-ELEMENT-FADED);
}

.project-section__workflow--collapsed {
    margin-top: 0;
    max-height: 0;
    padding: 0;
    border: 0;
}
/* endregion */